$color--black: #0E111B;
$color--black-90: rgba($color--black, .9);
$color--black-50: rgba($color--black, .5);

$color--white: #FFF;
$color--white-60: rgba($color--white, .6);
$color--white-50: rgba($color--white, .5);
$color--white-30: rgba($color--white, .3);
$color--white-10: rgba($color--white, .1);
$color--white-5: rgba($color--white, .05);

$color--primary: #FDC000;
$color--area: #1C212E;

// @media all and (max-width: 1980px) { STYLES }
$tablet: "all and (max-width: 1200px)";
$mobile: "all and (max-width: 720px)";

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 0 0;
  position: relative;
  @media #{$tablet} {
    padding: 40px 40px 0;
  }
  @media #{$mobile} {
    padding: 40px 20px 0;
  }
}
